.gradle
/local.properties
./idea/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
*/build/
*.class
*.bin
/gradle/gradle-wrapper.properties
*.iml
/app/build/
/app/src/main/assets/crashlytics-build.properties
/app/src/main/res/values/com_crashlytics_export_strings.xml
/airtelvisualstream
/jobdispatcher/build/
app/playstore/release/
base/build/
login/build
myairtelapp.analytics/
renderingenginesample/build
renderingsdk/build
rendringsdk/build
selfcare/build/
util/build/
AnalyticsLib-release/build
*.apk
app/google-services.json
zing_embedded/build/
zxing_core/build/
app/src/main/assets/api_key.txt
qrcodereaderview/build
*.project
*.classpath
*.settings
